<div class="d-flex p-2 m-5"></div>

<div class="container">
  <hr>
  <!-- <input type="text" class="form-control" placeholder="Buscar carta" [formControl]="cardText" /> -->
  <app-buscar (buscar)="onScroll(a=$event)"></app-buscar>

  <div class="lista" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="100"
    (scrolled)="onScroll(a)">

    <div class="cards">
      <ng-container *ngFor="let item of resultados">
      <!-- <ng-container *ngFor="let item of cards"> -->
        <app-card [card]="item"></app-card>
      </ng-container>
    </div>

    <hr>
  </div>
</div>
